.header {
    margin: auto;
    height: 150px;
    border: 3px solid green;
}

.topbar {
    margin: auto;
    height: 50px;
    border: 3px solid green;
    width: 100%;
}

.topinf1 {
    text-align: left;
    margin-left: 10px;
    float: left;
    width: 30%;
    line-height: 50px;
}

.topinf2 {
    float: left;
    
    line-height: 50px;
    text-align: left;
}

.header-menu {


}

.logo {
    width: 90px;
    height: 90px;
    padding: 5px;
}